.ProductsAlsoBoughtGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

.ProductAlsoBoughtWrapper {
    width: 50%;
}

.ProductInformationWrapper {
    display: flex;
    flex-direction: row;
}

.ProductInformation {
    display: flex;
    flex-direction: column;
    min-width: 50%;
    max-width: 50%;
}

.ProductsAlsoBoughtGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
}

@media screen and (max-width: 1600px) {
    .ProductsAlsoBoughtGrid {
        grid-template-columns: repeat(2, 1fr);
    }
}

.ProductAlsoBoughtWrapper {
    width: 50%;
}

.ProductAlsoBoughtWrapper h5 {
    font-size: 1.1rem;
}

.ProductAlsoBoughtWrapper .ListItem {
    color: #0000a4;
    max-width: 75%;
}

.ProductInformationWrapper {
    display: flex;
    flex-direction: row;
}

.ProductInformation {
    display: flex;
    flex-direction: column;
}

.strikedtext {
    font-size: 1rem;
}

.strikedtext-2 {
    font-size: 1.5rem;
}

.small-timer-container {
    width: auto;
    background: #000;
    color: #fff;
    padding: 5px;
    font-size: 1.2rem;
    border-radius: 0 0 32px 32px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    max-height: 44px;
}

.discount-also-bought-text {
    margin-left: 20px;
}

.small-timer {
    margin-right: 20px;
    text-align: right;
}
.review-date {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    margin-top: 10px;
    font-size: 14px;
}

.review-person {
    font-weight: bold;
    color: #0000a4;
}

.reviews {
    display: flex;
    flex-direction: column;
    min-width: 50%;
}

.review-knoppen{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
    justify-content: space-around;
    min-width: 18%;
}

.order-by
{
    width: 45%;
}
